# 1. print your name

In [1]:
print("Hello World! My name is Manish")

Hello World! My name is Manish

# 2. Add two numbers together

In [4]:
print(2+2)

4

# 3. Substract a number from another number

In [5]:
print(2-2)

0

# 4. Multiply two numbers

In [6]:
print(2*2)

4

# 5. Divide between two numbers

In [7]:
print(2/2)

1.0

# 6. Concat two strings together

In [10]:
print("Manish"+" "+"Shekhar")

Manish Shekhar

In [11]:
"Manish"+" Shekhar"

'Manish Shekhar'

# 7. Create a list of 4 items

In [14]:
listofitems = ["Manish","Shekhar",0,0,7]
print(listofitems)

['Manish', 'Shekhar', 0, 0, 7]

# 8. Append an item to the list

In [16]:
listofitems.append("Data Science")
listofitems.append(530)
print(listofitems)

['Manish', 'Shekhar', 0, 0, 7, 'Data Science', 530]

# 9. creating tuple with two strings and/or numbers

In [18]:
mytuple=("Manish", "Shekhar")
print(mytuple)

('Manish', 'Shekhar')

In [ ]:
# Tuple with list and other tuples (nested)

In [19]:
mytuple=("Manish",530,(1,2,3),["this","is","list"])
print(mytuple)

('Manish', 530, (1, 2, 3), ['this', 'is', 'list'])